@model IEnumerable<SkillsManagerWebApplication.Models.UserProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dni)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dni)
        </td>

        <td>
            @Html.ActionLink("Skills List","Index", "Skill", new { employee_id=item.UserId }, new { @class = "btn btn-info btn-sm" })
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }, new { @class = "btn btn-info btn-sm" })
            @Html.ActionLink("Details", "Details", new { id=item.UserId }, new { @class = "btn btn-info btn-sm" })
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId }, new { @class = "btn btn-info btn-sm" })
        </td>
    </tr>
}

</table>
